<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="img/wow-stats.png">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="css/index.css" />
    <title> Wow Stats</title>
    <base href="/">
</head>
<body>
    <!--<nav class="nav navbar-default navbar-static-top" ng-controller="SearchController as vm">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="app.home">Wow Stats</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a>Header</a></li>
                <li><a>Home</a></li>
                <li><a>Error</a></li>
                <li><a>Character</a></li>
            </ul>
            <form div class="form-inline navbar-form navbar-right" ng-submit="vm.searchSubmit()">
                <div class="form-group">
                    <label>Realm: </label>
                    <select class="form-control" ng-model="vm.search.realm" ng-options="realm.slug as realm.name for realm in vm.realms"></select>
                </div>
                <div class="form-group">
                    <label>Character: </label>
                    <input class="form-control" ng-model="vm.search.character" placeholder="Character Name"/>
                </div>
                <input type="submit" class="btn btn-default form-control" value="Search" ng-disabled="!vm.search.character || !vm.search.realm"/>
            </form>
        </div>
    </nav>-->
    <!--<div ui-view></div>-->
    <!--<app-header></app-header>-->
    <ui-view>Loading...</ui-view>
    <footer class="footer row navbar-fixed-bottom">
        <div class="col-sm-12">
            <h5>Created by Drew Johnson</h5>
        </div>
    </footer>
    <script src="js/jquery-1.12.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="node_modules/core-js/client/shim.min.js"></script>
    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>
    <script src="systemjs.config.js"></script>
    <script>
      System.import('app').catch(function(err){ console.log("have an error at system import"); console.error(err); });
    </script>
    <!--<script src="config.js"></script>-->
    <!--<script>
      System.import('app').catch(console.error.bind(console)); 
    </script>-->

</body>
</html>